/* ================================= Features grid container, used on home & features page ================================= */
.features-grid-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 6rem 0;
}



/* ================= Tablet @media ================= */
@media (min-width: 768px) {
    .features-grid-container {
        padding: 7.5rem 0;
    }
}
@media (min-width: 1000px) {
    .features-grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}



/* ================= Desktop @media ================= */
@media (min-width: 1200px) {
    .features-grid-container {
        grid-template-columns: repeat(3, 1fr);
        padding: 9rem 0;
    }
}