* {
    box-sizing: border-box;

    

    /* =========== Typography. =========== */
    --ff-main: 'DM Sans', sans-serif;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;



    /* =========== Primary colors. =========== */
    --white: #ffffff;
    --gray: #f7f7f7;
    --darker-gray: #dedede;  
    --very-dark-gray: #979797;
    --black: #000000;  



    /* =========== Other colors. =========== */
    --light-orange: #ffc694;
    --pink: #ff2e9a;
    --blue: #5776ff;
    --mix: linear-gradient(#ffc694, #ff2e9a, #5776ff);



    --transition: all 0.25s ease-in-out;
}


body {
    font-family: var(--ff-main);
    font-weight: var(--fw-regular);
}

footer {
    background-color: var(--black);
    color: var(--white);
}




/* ================================= Home page stories grid container ================================= */
.stories-home-grid {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .stories-home-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .stories-home-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}





/* ================================= Features grid container, used on home & features page ================================= */
.features-grid-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 6rem 0;
}

@media (min-width: 1200px) {
    .features-grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 7rem 0;
    }

    .plans-container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
    }
}





@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



